<form id="when-form" class="form-inline jumbotron" action="/schedule" method="post">
  <h1>Is <%= @name %> Busy
    <small> on
      <input type="text" name="date" class="form-control" data-role="datepicker">
      <i class="fa fa-question form-control-feedback"></i>
      <input id="view-schedule" type="button" class="btn btn-success" value="View Schedule" data-loading-text="View Schedule">
    </small>
  </h1>
</form>

<div id="result"></div>