<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Is Lewis Busy?</title>

  <meta name="author" content="Lewis Eason <me@lewiseason.co.uk>">
  <link rel="stylesheet" href="/assets/css/application.css">

</head>

<body>
  <div class="container">
    <%= yield %>
  </div>

  <script src="/assets/js/application.js"></script>
</body>
</html>